@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@200&display=swap');

*{
    
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    font-size: 65px;
    font-weight: bold;

}
h3{
    text-align: center;
    color: green;
    font-size: 2.5rem;
}
label{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#notetxt{
    font-size: 25px;
    border: 2px solid black;
    width: 55%;
    height:20px;
}
.wrapper{
 margin-left: 100px;
 
}
#btnadd{
   
    padding: 5px 10px;
    background-color:rgb(7, 107, 7);
    color: white;
    border-radius: 5px;
    height: 40px;

 

}
#txtareanote{
height: 25px;
width: 800px;

}
.notes{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
padding: 3em 2em 2em 2em;


}
.card{
    background-color: #fff;

    padding: 1rem 1.5rem ;
    border: 1px solid #ddd;
    margin: 1rem 2rem;
    width: 22rem;
    border-radius: 5px;
}

#viewdetailsbtn{
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 8px ;
    border-radius: 10%;
    font-weight: bold;
    width: 10rem;

}
#deletebtn{
    background-color: rgb(14, 42, 168);
    color: white;
    font-size: 12px;
    padding: 8px ;
    border-radius: 10%;
    font-weight: bold;
    width: 10rem;

  
}
#modal-container{
 position: absolute;
 left:0;
 bottom: 0;
 top: 0;
 right: 0;
 display: grid;
place-items: center;

}

#modal{
    width: 800px;
    height:80vh;
    background-color: aqua;
    border: 2px solid #ddd;
    overflow: auto;
    padding: 1rem;
    position: relative;
}
#modalbtn{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    cursor: pointer;

}
